@font-face {
   font-family: 'Tahoma';
   src: url('Tahoma.ttf') format('truetype');
}

article, aside, figure, figcaption, footer, hgroup, header, 
section, nav {
   display: block;
}

body {
	margin: 0px auto;
	padding: 0px;
	line-height: 1.5em;
	width: 100%;
	max-width: 1024px;
	min-width: 768px;
	font-family: Tahoma, sans-serif;
	font-size: 10pt;
	background: url(background.jpg) scroll top left repeat;
	-webkit-background-size: 450px 450px;
	-moz-background-size: 450px 450px;
	-o-background-size: 450px 450px;
	background-size: 450px 450px;  
}

header{
	width: 80%;
	margin: 0px auto;
}

header h1{
	width: 33%;
	margin-left: 7%;
}

header h1 img{
	width: 100%;
}

header h4 {
	display: block;
	width: 40%;
	float: right;
	margin-top: -75px;
	margin-right: 5%;
	text-align: right;
	line-height: 1em;
	font-weight: bold;
	font-size: 1.05em;
	color: rgb(0, 0, 205);
}

header h4 span{
	font-size: 1.2em;
}

header nav {
	width: 100%;
	margin: 0px auto 0px;
}

header nav li {
	display: block;
	float: left;
	width: 7%;
	margin-left: 2%;
	margin-bottom: 2px;
	font-size: 1.3em;
}

header nav li:nth-of-type(2){
	width: 9%;
}

header nav li:nth-of-type(4){
	width: 13%;
}

header nav li:nth-of-type(5){
	width: 8%;
}

header nav li:nth-of-type(6){
	width: 10%;
}

header nav li:nth-of-type(7){
	width: 19%;
}

header nav li a {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 0.8em;
	color: rgb(255, 255, 224);	
	text-align: center;
	text-decoration: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-color: rgb(238, 92, 66);
}

header nav li a:hover{
	opacity: 0.7;
}

div.leftside{
	display: block;
	float: left;
	width: 16%;
}

div.leftside img{
	border: none;
}

div.leftside img#linkhome{
	width: 90%;
}

div.leftside img#locator{
	width: 90%;
	margin-top: 50px;
}

div.leftside img#order{
	width: 70%;
	margin-top: 100px;
	margin-left: 15px;
}

div.rightside{
	display: block;
	float: right;
	width: 14%;
}

div.rightside img{
	margin-left: 15px;
	border: none;
}

section{
	margin-top: 85px;
	margin-left: 16%;
	width: 70%;
	height: 676px;
	border: 1px black solid;
	background: url(paper-background.jpg) scroll top left repeat;
	background-size: auto 676px;
}

section hgroup{
	text-align: center;
}

section hgroup h4{
	width: 90%;
	margin: 0px auto;
}

section aside#videos{
	display: block;
	float: right;
	margin-top: 15px;
	margin-right: 1em;
	width: 45%;
	height: 536px;
	overflow: auto;
	background: rgb(255, 231, 186);
	border: 1px black solid;
}

section aside video{
	width: 100%;
}

section aside p.details{
	color: rgb(165, 42, 42);
	width: 95%;
	margin-left: 0.75em;
}

section aside#literal{
	width: 54%;
	margin-top: 15px;
}

section aside#literal p{
	width: 90%;
	padding-left: 1em;
	font-weight: 700;
}

section aside#literal img#kitchen{
	display: block;
	float: right;
	margin-left: 0.5em;
}

section aside#literal img#portrait{
	display: block;
	float: left;
	margin-right: 1em;
}

section aside#literal img#mark{
	display: block;
	float: right;
	margin-left: 0.5em;
}

section aside#literal p:nth-of-type(3){
	margin-top: 20px;
}

section aside#literal a#linkMain{
	font-size: 1.3em;
	color: rgb(0 0 128);
	font-weight: 600;
	margin-left: 1em;
}

section aside#literal img#caesar{
	display: block;
	width: 30%;
	clear: left;
	float: left;
	margin-left: 1em;
}

footer address{
	text-align: center;
	font-style: normal;
}